*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html, body, #root {
  width: 100%;
  height: 100%;
}

.player-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.player-body .menu-bar {
  background: #CB99C9;
  padding: 10px;
  color: white;
  height: 50px;
  display: flex;
  align-items: center;
  -webkit-app-region: drag;
}

.now-playing-bar {
  padding: 10px;
  background: #03C03C;
}

.now-playing-title {
  color: white;
  margin-bottom: 5px;
}

.queue-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.song-container {
  color: white;
  background: #FF6961;
  margin: 2px;
  padding: 5px;
  -webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75);
}

.queue-list {
  padding: 10px;
  background: #FFB347;
  overflow-y: auto;
}
.up-next-title {
  color: white;
  margin-bottom: 5px;
}

.spacer {
  flex-grow: 1;
}

.player-body .menu-bar .reactron-logo {
  padding-left: 10px;
  font-size: 2em;
  font-family: sans-serif;
}

.player-body .playlist {
  flex-grow: 1;
}

.player-body .audio-player {
  width: 100%;
}

.drop-area {
  display: flex;
  height: 100px;
  margin: 5px;
  border: 3px dashed #888;
  border-radius: 10px;
  background: #CCC;
  align-items: center;
  justify-content: center;
  color: #888;
  transition: 0.2s all linear;
}

.drop-area:hover {
  background: #AAA;
  color: #666;
}
